{% extends "layout.html" %}

{% block title %}
    Home
{% endblock %}

{% block main %}
    <h2>About JobNest</h2>

    <p> <strong>JobNest</strong> is a web application designed to help users organize and track their job applications in one convenient place. When applying for jobs across multiple platforms, it can be difficult to remember which positions have been applied for, when the applications were submitted, and how far each application has progressed. </p>

    <p> JobNest provides a simple solution by allowing users to create and manage their own personal database of job applications. Users can record important information about each application and monitor its status throughout the recruitment process, making it easier to stay organized and keep track of their career opportunities. </p>
{% endblock %}